@font-face {
  font-family: inter;
  src: url("/assets/Inter-VariableFont_opsz\,wght.ttf");
}

html {
  font-family: inter, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Noto Color Emoji";
  line-height: 1.5;
  tab-size: 2;
}

a {
  color: inherit;
  text-decoration: inherit;
}

body > * {
  padding-inline: 2rem;
  padding-block: 1rem;
}
